@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
textarea {
    resize: none;
}
/*=================Desafio 2 mixin=================*/
@mixin estiloOficial ($colorletra , $medida){ 
    color:$colorletra ;
    font-size:$medida;
}
h2{
    @include estiloOficial(#3D2C8D, 60px);
}

h3{
@include estiloOficial(#5C7AEA,100px);
}
/*===================MENU==========================*/

#menu {
    button {
        font-size: 18px !important;
        font-weight: 600; 
    
    a {
        color: #3f3f3f }
    }
}
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:39rem !important;
}


/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;

    p{
    color:#f3f3f3;
    text-align:center;
 }
}


#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}


/*=========================Portafolio================================*/


/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){

}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}